{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>No Way !</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <h2>except 403 road...
        <a href="{{ path('homepage') }}">Go back Home</a>.
    </h2>
{% endblock %}